.app{
  margin: 20px auto;
  min-height: 70vh;
  width: 400px;
  background:linear-gradient(rgb(208, 242, 255),rgb(247, 206, 255));
  border-radius: 50px;
}

body {
  background-color: azure;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: rgb(181, 102, 181);
  text-shadow: 4px 2px 3px white;
}

ul,li{
  
  list-style: none;
  padding: 10px;
  margin: 0;
}
.crossed {

  text-decoration: line-through 2px red;

  background-color: #f0f0f0;

}
.container {
  display: flex;
  justify-content: center;
}
.add {
  margin: 10px;
}
.btn-add {

  background: #60e8d1;
  margin-top: 5px;
  border-radius: 30px;
}

.btn-delete {
  background: #ee69ca;
  margin-bottom: 5px;
  border-radius: 30px;
}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}
input{
  width: 80%;
  padding: 11px;
}